### Goal 
1- Compare the algorithms (based on the collected data which algorithm performed better based on the users evaluation). Then we see if our offline evaluation has been confirmed by the online evaluation <br>
2- Evaluate the system usability using the usability questionnaire  <br>
3- Find correlations between the features (Education, cost, ...) and the demographics <br>
4- The correlation betwwen users personality and lists evaluation

### User attempted the survey
|Registred Users|281 (100%)|
|---------------|----------|
|__Users Completed Personality Survey__|__240 (85.40%)__|
|__Users Completed Features Survey__|__225 (80.07%)__|
|__Users Submited Rating__|__193 (68.68%)__|
|__Users Completed Evaluation Survey__|__189 (67.25%)__|
|__Users Completed Usability Survey__|__109 (38.79%)__|

In [16]:
import pandas as pd 
import numpy as np

## Users Personality

In [17]:
user_personality = pd.read_csv('Personality.csv')
user_personality.head()

,id,title,user_id,created,gender,age,country,imaginative,organized,enthusiastic,kind,calm
0,38,step1,Eggbjj,2019-09-24 17:21:53.294781+00:00,Male,b35_45,IL,Agree,Strongly_Agree,Agree,Agree,Agree
1,40,step1,rihi,2019-09-24 17:31:35.399364+00:00,Male,b18_24,MA,Strongly_Agree,Disagree,Agree,Neutral,Neutral
2,39,step1,Test,2019-09-24 17:31:32.323496+00:00,Male,b18_24,MA,Agree,Agree,Agree,Agree,Agree
3,41,step1,Taj,2019-09-24 17:35:02.838635+00:00,Male,b18_24,MA,Strongly_Disagree,Agree,Neutral,Neutral,Strongly_Disagree
4,42,step1,hamza0095,2019-09-24 17:42:26.725802+00:00,Male,b18_24,MA,Agree,Agree,Neutral,Neutral,Agree

In [18]:
# method to compute the percentege of each column
def perce(dim):
    gender = user_personality[str(dim)].value_counts()
    gender_per = user_personality[str(dim)].value_counts(normalize = True).mul(100).round(1).astype('str') + '%'
    gender_pers = {}
    for typ,value,perse in zip(gender.keys(),gender, gender_per):
        gender_pers[typ] = [str(value)+' (' +str(perse)+')']
    gender_percentage = pd.DataFrame.from_dict(gender_pers)
    return gender_percentage

### Users gender

In [19]:
perce('gender')

          Male      Female refuse_to_disc
0  170 (70.8%)  65 (27.1%)       5 (2.1%)

### Users Age

In [20]:
perce('age')

        b18_24      b25_35     b35_45   under_18     b45_55  bover_55
0  100 (41.7%)  93 (38.8%)  23 (9.6%)  12 (5.0%)  10 (4.2%)  2 (0.8%)

### Origin Countries

In [21]:
print('number of origin countries:',len(perce('country').T))
t = perce('country')
#t.columns = l[0:55]
t.T

number of origin countries: 55

             0
US  56 (23.3%)
MA  32 (13.3%)
EG   15 (6.2%)
GB   10 (4.2%)
CA   10 (4.2%)
DE    8 (3.3%)
AU    7 (2.9%)
IT    7 (2.9%)
KW    7 (2.9%)
AE    6 (2.5%)
IN    5 (2.1%)
AF    4 (1.7%)
FR    4 (1.7%)
TR    4 (1.7%)
BE    3 (1.2%)
MX    3 (1.2%)
BR    3 (1.2%)
QA    3 (1.2%)
HU    3 (1.2%)
NL    3 (1.2%)
ES    3 (1.2%)
SE    3 (1.2%)
PK    2 (0.8%)
SG    2 (0.8%)
RU    2 (0.8%)
IE    2 (0.8%)
NO    2 (0.8%)
UA    2 (0.8%)
CZ    2 (0.8%)
ID    2 (0.8%)
DM    1 (0.4%)
JP    1 (0.4%)
IR    1 (0.4%)
SA    1 (0.4%)
CL    1 (0.4%)
LK    1 (0.4%)
IL    1 (0.4%)
AM    1 (0.4%)
MT    1 (0.4%)
SI    1 (0.4%)
AT    1 (0.4%)
CH    1 (0.4%)
SY    1 (0.4%)
GF    1 (0.4%)
KR    1 (0.4%)
TN    1 (0.4%)
RO    1 (0.4%)
PA    1 (0.4%)
HR    1 (0.4%)
JO    1 (0.4%)
PT    1 (0.4%)
LT    1 (0.4%)
NZ    1 (0.4%)
SK    1 (0.4%)
NG    1 (0.4%)

KeyError: 0

In [13]:
import pandas as pd
import statistics

In [5]:
evaluate_data  = pd.read_csv("user_rate.csv")

In [6]:
len(evaluate_data)

1284

In [7]:
evaluate_data.head()

,id,title,user_id,created,countries_name_id,country_rating
0,2875,user_rate,Insomnia1305,2019-10-01 16:49:14.066493+00:00,Netherlands,4
1,2874,user_rate,Insomnia1305,2019-10-01 16:49:14.062540+00:00,Lithuania,4
2,2873,user_rate,Insomnia1305,2019-10-01 16:49:14.058557+00:00,Germany,4
3,2872,user_rate,Insomnia1305,2019-10-01 16:49:14.054165+00:00,Morocco,1
4,2871,user_rate,Insomnia1305,2019-10-01 16:49:14.049992+00:00,Australia,4

In [9]:
evaluate_data['user_id'].value_counts().mean()

6.652849740932642

In [10]:
evaluate_data['user_id'].value_counts().max()

41

In [11]:
evaluate_data['user_id'].value_counts().min()

5

In [14]:
statistics.median(evaluate_data['user_id'].value_counts())

6